@using CoreNotify.Areas.Identity.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ICollection<NotifyUser>
<div class="row">
    <h1 class="mb-4">Users</h1>
</div>
@if (Model != null)
{
    @foreach (var user in Model)
    {
        <div class="card bg-primary shadow-soft border-light mb-4">
            <div class="card-body px-4 py-4 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h2>@user.FirstName @user.LastName</h2>
                        <p>@user.Email</p>
                        <!--<a asp-action="Messages" asp-route-id="@user.Id" class="btn btn-primary">
                        <span class="mr-2"><span class="fas fa-message"></span></span>View Messages
                        </a>-->
                    </div>
                    <div class="col-md-4 mt-4 mt-md-0 text-md-right">

                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">
                            <span class="mr-1"><span class="fas fa-pen-nib"></span></span>Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-primary">
                            <span class="mr-1"><span class="fas fa-trash"></span></span>Delete
                        </a>
                    </div>
                </div>

            </div>
        </div>
    }
}
