@model IEnumerable<coreNotify.Models.Application>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <h1 class="mb-4">Apps</h1>
    <div class="ml-auto">
        <a asp-action="Create" class="btn btn-primary text-right">
            <span class="mr-1"><span class="fas fa-add"></span></span>
            Create
        </a>
    </div>
</div>
@foreach (var item in Model) {
            <div class="card bg-primary shadow-soft border-light mb-4">
                <div class="card-body px-4 py-4 text-center text-md-left">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h2>@Html.DisplayNameFor(model => model.DisplayName): <strong>@Html.DisplayFor(modelItem => item.DisplayName)</strong></h2>
                            <p>@Html.DisplayNameFor(model => model.AppName):<strong>@Html.DisplayFor(modelItem => item.AppName)</strong></p>
                            <a asp-action="Messages" asp-route-id="@item.AppId" class="btn btn-primary">
                                <span class="mr-2"><span class="fas fa-message"></span></span>View Messages
                            </a>
                        </div>
                        <div class="col-md-4 mt-4 mt-md-0 text-md-right">

                            <a asp-action="Edit" asp-route-id="@item.AppId" class="btn btn-primary">
                                <span class="mr-1"><span class="fas fa-pen-nib"></span></span>Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.AppId" class="btn btn-primary">
                                <span class="mr-1"><span class="fas fa-trash"></span></span>Delete
                            </a>
                        </div>
                    </div>

                </div>
            </div>
                
       



}


